.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-background);
}

.header__logo-container {
    flex: 1;
    cursor: pointer;
}

.header__logo {
    width: 80px;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 100%;
    height: 3px;
    background-color: var(--main-text-color);
    transition: all 0.3s ease;
}

.menu-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
}

.menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.header__menu.open {
    transform: translateX(0);
}

.header__menu {
    display: none;
    list-style: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-background-color);
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    height: 100vh;
    gap: 20px;
    padding-top: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 2;
}

.header__menu-link {
    font-family: var(--main-font-family);
    color: var(--main-text-color);
    font-weight: var(--main-font-weight);
    font-size: 20px;
    line-height: 36px;
    text-decoration: none;
}

.header__menu-link:hover {
    color: var(--main-color_and_hover);
}

.menu-toggle.open+.header__menu {
    display: flex;
    transform: translateX(0);
}

@media (min-width: 768px) {

    .header__logo {
        width: 70px;
    }

    .header__nav {
        display: flex;
        justify-content: flex-start;
    }

    .menu-toggle {
        display: none;
    }

    .header__menu {
        display: flex;
        flex-direction: row;
        gap: 30px;
        position: static;
        height: auto;
        background-color: transparent;
        transform: none;
        padding-top: 0px;
    }
}

@media (min-width: 1200px) {
    .header__nav {
        flex: 2;
    }

    .header__logo {
        width: 80px;
        margin: 27px 0px;
    }
}