.promo-section {
    display: flex;
    flex-direction: column;
}

.promo-text {
    order: 1;
}

.promo-text p {
    color: var(--main-color_and_hover);
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight);
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.promo-form-container {
    order: 3;
}

.promo-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 355px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.promo-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.promo-form input[type="tel"],
input[type="email"],
input[type="text"] {
    padding: 12px;
    border: none;
    background: #f7f7f7;
    border-radius: 5px;
    font-size: 16px;
    line-height: 17.5px;
    width: 100%;
    letter-spacing: 1px;
    box-sizing: border-box;
    text-align: center;
}

.iti {
    width: 100%;
}

.iti input {
    width: 100%;
    padding-left: 50px;
}

.iti__flag-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.promo-form button {
    padding: 10px;
    background-color: var(--main-color_and_hover);
    color: var(--main-background-color);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.promo-form button:hover {
    background-color: #b71c1c;
}

.image-block {
    order: 2;
    height: 187px;
    background-color: #b9b9b9;
    margin: 50px 0px;
}

.text-block {
    order: 4;
    text-align: center;
    margin: 60px 0px 0px 0px;
}

.text-block h3 {
    color: var(--main-color_and_hover);
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.text-block p {
    color: var(--main-color-text);
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight);
    font-size: 24px;
    line-height: 28px;
}

@media (min-width: 425px) {
    .promo-form {
        max-width: none;
    }
}

@media (min-width: 768px) {
    .promo-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--main-background);
    }

    .promo-text {
        flex: 1;
        order: unset;
        padding: 20px 0px;
    }

    .promo-text p {
        font-size: 28px;
        line-height: 40px;
    }

    .promo-form-container {
        flex: 1 1 100%;
        order: unset;
        padding-top: 20px;
    }

    .promo-form input[type="tel"],
    input[type="email"],
    input[type="text"] {
        text-align: start;
    }

    .image-block {
        order: unset;
        width: 344px;
        height: 187px;
        background-color: #b9b9b9;
        margin: 30px 0px;
    }

    .text-block {
        order: unset;
        text-align: start;
        margin: 60px 0px 0px 0px;
    }

    .text-block p {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (min-width: 1200px) {
    .promo-text {
        order: unset;
        flex: 1 0 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .promo-text p {
        text-align: start;
        padding-left: 92px;
    }

    .promo-form-container {
        flex: 1 0 50%;
        background: url(../img/promo.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 105% 50%;
        background-color: #c22627;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 50px 70px 50px 0px;
        clip-path: polygon(23% 0, 100% 0, 100% 100%, 0 160%);
    }

    .promo-form {
        background-color: rgba(74, 74, 74, 0.82);
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 355px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .image-block {
        order: unset;
        width: 600px;
        height: 220px;
        background-color: #e0e0e0;
        margin: 50px 0px;
        clip-path: polygon(4.405% 9.888%, 4.405% 9.888%, 4.556% 8.24%, 4.814% 6.694%, 5.17% 5.265%, 5.615% 3.971%, 6.14% 2.829%, 6.735% 1.856%, 7.392% 1.07%, 8.102% 0.487%, 8.855% 0.125%, 9.642% 0%, 94.657% 0%, 94.657% 0%, 95.679% 0.208%, 96.628% 0.803%, 97.487% 1.743%, 98.241% 2.984%, 98.876% 4.484%, 99.375% 6.198%, 99.725% 8.085%, 99.909% 10.101%, 99.912% 12.203%, 99.72% 14.348%, 89.082% 91.926%, 89.082% 91.926%, 88.844% 93.315%, 88.528% 94.603%, 88.142% 95.78%, 87.691% 96.835%, 87.183% 97.757%, 86.624% 98.536%, 86.022% 99.16%, 85.382% 99.62%, 84.712% 99.903%, 84.018% 100%, 5.305% 100%, 5.305% 100%, 4.381% 99.829%, 3.511% 99.337%, 2.71% 98.553%, 1.989% 97.509%, 1.362% 96.234%, 0.84% 94.759%, 0.437% 93.115%, 0.166% 91.331%, 0.039% 89.438%, 0.068% 87.466%, 4.405% 9.888%);
    }

    .text-block {
        order: unset;
        display: flex;
        margin: 0px 0px 0px 60px;
        flex: 1 0 0%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .text-block p {
        font-size: 25px;
        line-height: 31px;
    }
}